.wrapper{
    background: linear-gradient(45deg, #eeedc8, #cce8dd);
    font-family: sans-serif;
    padding: 50px;
}


.header-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 25px;
    width: 750px;
    box-sizing: border-box;
    background-color: #fafafa;
    border-radius: 8px;
}

.header-form-logo{
    height: 80px;
}

.header-form-btn{
    height: 35px;
    border-radius: 19px;
    background-color: #f5f5f5;
    font-weight: 700;
}


.visit-board{
    margin: 50px auto;
    padding: 5px;
    width: 750px;
    height: 300px;
    box-sizing: border-box;
    background-color: #fafafa;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.empty-board{
    width: 100%;
    text-align: center;
    line-height: 300px;
}

.modal {
    display: none;
    padding: 15px;
    width: 490px;
    position: absolute;
    margin: 0 auto;
    top: 20vh;
    left: 30%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 8px;
    background: linear-gradient(45deg, #cccbac, #b0ccc1);
    z-index: 999999;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

.modal-header{
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: flex-start;
}

.modal-close{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 20px;;
}


.form-item{
    display: none;
}

.show-form{
    display: block;
}

.input-wrapper{
    padding: 5px;
}

.card {
    min-height: 150px;
    width: 150px;
    padding-top: 15px;
    background-color: #e8d0cc;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9;
    border-radius: 5px;
    cursor: move;
    box-sizing: border-box;
}

.card-title{
    font-weight: 700;
    font-size: 16px;
}
.card-title-name{
    padding: 5px;
}

.close-button{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.hidden-text{
    display: none;
    text-align: left;
}

.show-text{
    display: block;
}

.hidden-text-item{
    padding: 3px 5px;
    font-size: 12px;
}

.hidden-text-item-value{
    font-weight: 700;
}
.show-more{
    margin: 10px 5px;
    padding: 3px;
    border: 1px solid black;
    cursor: pointer;
}